<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
        <h3>Survey: <%= surveys.Title %> </h3>
            <% for (let count = 0; count < surveys.Questions.length; count++) { %>
                <% if (surveys.Questions[count].includes(";")) { 
                    let answers = surveys.Questions[count].split(";"); %>
                    <p><%=answers[0]%></p>
                    <% for (let radio = 1; radio < answers.length; radio++) { %>
                        <input type="radio" id="Question<%=count%>Radio<%=radio%>"
                            name="value<%=count%>" value="<%=answers[radio]%>" >
                        <label for="Question<%=count%>Radio<%=radio%>"><%=answers[radio]%></label>
                    <% } %>
                <% } else { %>
                    <label for="TextField<%=count%>"><%=surveys.Questions[count]%></label>
                    <input type="text" class="form-control" id="TextField<%=count%>"
                    placeholder="Answer..." name="value<%=count%>" required>
                <% } %>
            <% } %>

            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
            <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>